configuration: Release

image: Visual Studio 2019

cache:
  - '%LocalAppData%\NuGet\v3-cache -> **\*.csproj'

before_build:
  - dotnet restore --verbosity quiet

build:
  parallel: true
  verbosity: minimal

test_script:
  - dotnet test --configuration Release --no-build /p:collect="Code Coverage" src\Ninject.Test
  - nuget install Codecov -x -Verbosity quiet
  - for /f %%a in ('dir /b /s *.coverage') do Codecov\tools\codecov -f "%%a"

artifacts:
  - path: 'src\**\*.nupkg'
  - path: 'src\**\*.snupkg'

deploy:
  provider: NuGet
  api_key:
    secure: Sn05A/FiUAlID5v31uaf5EZuYCSo4frLONtrCY+cwY265dU2JUZsl2+sjVeLQyz/
  on:
    appveyor_repo_tag: true