<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="xUnit CI Builds" value="https://www.myget.org/F/xunit/api/v2" />    
    <add key="xUnit Devices CI Builds" value="https://www.myget.org/F/xunit-xamarin/api/v2" />
    <add key="Ninject CI Builds" value="https://www.myget.org/F/ninject/api/v2" />
  </packageSources>
  <disabledPackageSources />
  <activePackageSource>
    <add key="All" value="(Aggregate source)"  />
  </activePackageSource>
</configuration>
