<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="3.0.0-alpha4" targetFramework="win" requireReinstallation="True" />
  <package id="xunit" version="2.0.0-beta-build2700" targetFramework="win81" />
  <package id="xunit.abstractions" version="2.0.0-beta-build2700" targetFramework="win81" requireReinstallation="True" />
  <package id="xunit.assert" version="2.0.0-beta-build2700" targetFramework="win81" requireReinstallation="True" />
  <package id="xunit.core" version="2.0.0-beta-build2700" targetFramework="win81" requireReinstallation="True" />
</packages>